<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aopzhujie.mapper.TestMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="usersMap" type="com.example.aopzhujie.dto.ItongjiUsers">
        <result property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
        <result property="trueName" column="true_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatar" column="avatar"/>
        <result property="title" column="title"/>
        <result property="organization" column="organization"/>
        <result property="introduction" column="introduction"/>
        <result property="isThirdSite" column="is_third_site"/>
        <result property="thirdSiteUserType" column="third_site_user_type"/>
        <result property="wxSpUserSessioKey" column="wx_sp_user_session_key"/>
        <result property="thirdSiteUserId" column="third_site_user_id"/>
        <result property="thirdSiteOpenId" column="third_site_open_id"/>
        <result property="email" column="email"/>
        <result property="emailBind" column="email_bind"/>
        <result property="emailBindCode" column="email_bind_code"/>
        <result property="company" column="company"/>
        <result property="career" column="career"/>
        <result property="degree" column="degree"/>
        <result property="type" column="type"/>
        <result property="cardUrl" column="card_url"/>
        <result property="cardUploadTime" column="card_upload_time"/>
        <result property="cardVerifyTime" column="card_verify_time"/>
        <result property="cardVerifyStatus" column="card_verify_status"/>
        <result property="cardVerifyNote" column="card_verify_note"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="address" column="address"/>
        <result property="zip" column="zip"/>
        <result property="tel" column="tel"/>
        <result property="mobile" column="mobile"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="isReceiveMsg" column="is_receive_msg"/>
        <result property="isEnable" column="is_enable"/>
        <result property="isCanceled" column="is_canceled"/>
        <result property="isBlackUser" column="is_black_user"/>
        <result property="remark" column="remark"/>
        <result property="creater" column="creater"/>
        <result property="createTime" column="create_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="disabled" column="disabled"/>
        <result property="version" column="version"/>
        <result property="wechat" column="wechat"/>
        <result property="idCard" column="id_card"/>
        <result property="userTitle" column="user_title"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="contactMobile" column="contact_mobile"/>
        <result property="industryId" column="industry_id"/>
        <result property="qqNum" column="qq_num"/>
    </resultMap>

    <!--查询两个表中手机号相同的用户id-->
    <select id="getdataOne" resultType="com.example.aopzhujie.dto.MobileSameDto">
        SELECT
        users.id itongjiId,
        users.mobile itongjimobile,
        ldcusers.id ldcId,
        ldcusers.mobile ldcMobile
        from users
        inner join ldc_users ldcusers on users.mobile = ldcusers.mobile
        where users.mobile is not null
        and users.mobile != ''
        and ldcusers.mobile is not null
        and ldcusers.mobile != ''
    </select>


    <!--查询ldc表中没有在itongji表中的数据-->
    <select id="getLdcMobileNotInintongji" resultType="com.example.aopzhujie.dto.MobileDiffDto">
        SELECT
        ldcUsers.id ldcId
        from ldc_users  ldcUsers
        where ldcUsers.mobile not in
        (
        SELECT
        DISTINCT
        users.mobile
        from users
        where  users.mobile is not null
        and users.mobile != ''
        )
        and ldcUsers.mobile != ''
        and ldcUsers.mobile is not null
    </select>

    <!--根据id查询ldc中的users表信息信息-->
    <select id="getLdcusersById" resultMap="usersMap">
        select *
        from ldc_users
        where id = #{id}
    </select>

    <insert id="saveItongjiUsers" parameterType="com.example.aopzhujie.dto.ItongjiUsers" useGeneratedKeys="true" keyProperty="id">
    insert into users
		(
		`status`,
		`name`,
		`pwd`,
		`true_name`,
		`nick_name`,
		`avatar`,
		`title`,
		`organization`,
		`introduction`,
		`is_third_site`,
		`third_site_user_type`,
		`wx_sp_user_session_key`,
		`third_site_user_id`,
		`third_site_open_id`,
		`email`,
		`email_bind`,
		`email_bind_code`,
		`company`,
		`career`,
		`degree`,
		`type`,
		`card_url`,
		`card_upload_time`,
		`card_verify_time`,
		`card_verify_status`,
		`card_verify_note`,
		`province`,
		`city`,
		`county`,
		`address`,
		`zip`,
		`tel`,
		`mobile`,
		`sex`,
		`birthday`,
		`is_receive_msg`,
		`is_enable`,
		`is_canceled`,
		`is_black_user`,
		`remark`,
		`creater`,
		`create_time`,
		`modifier`,
		`modify_time`,
		`disabled`,
		`version`,
		`wechat`,
		`id_card`,
		`user_title`,
		`enterprise_id`,
		`contact_mobile`,
		`industry_id`,
		`qq_num`
		)
		values
		(
		#{status},
		#{name},
		#{pwd},
		#{trueName},
		#{nickName},
		#{avatar},
		#{type},
		#{organization},
		#{introduction},
		#{isThirdSite},
		#{thirdSiteUserType},
		#{wxSpUserSessionKey},
		#{thirdSiteUserId},
		#{thirdSiteOpenId},
		#{email},
		#{emailBind},
		#{emailBindCode},
		#{company},
		#{career},
		#{degree},
		#{type},
		#{cardUrl},
		#{cardUploadTime},
		#{cardVerifyTime},
		#{cardVerifyStatus},
		#{cardVerifyNote},
		#{province},
		#{city},
		#{county},
		#{address},
		#{zip},
		#{tel},
		#{mobile},
		#{sex},
		#{birthday},
		#{isReceiveMsg},
		#{isEnable},
		#{isCanceled},
		#{isBlackUser},
		#{remark},
		#{creater},
		#{createTime},
		#{modifier},
		#{modifyTime},
		#{disabled},
		#{version},
		#{wechat},
		#{idCard},
		#{userTitle},
		#{enterpriseId},
		#{contactMobile},
		#{industryId},
		#{qqNum}
		)
    </insert>

    <update id="updateLdcToItongjiId">
        update ldc_course_vip set vip_id = #{itongjiId}
        where vip_id = #{ldcId}
    </update>

	<!--查询ldc_users中的mobile为空或者‘’的id-->
	<select id="getMobileIsNullLdcUsers" resultType="long">
		SELECT
		id
		from ldc_users
		where
		mobile = ''
		or mobile is null
	</select>

	<!--查询出users中mobile为空或者‘’的id-->
	<select id="getMobileIsNullUsers" resultType="long">
		SELECT
		id
		from users
		where
		mobile = ''
		or mobile is null
	</select>

	<!--查询出ldc_users和users中mobile为空或‘’时，信息相等的id-->
	<select id="getMobileIsNull" resultType="com.example.aopzhujie.dto.MobileIsNullDto">
		SELECT
        users.id itongjiId,
        ldcusers.id ldcId
        from users
        inner join ldc_users ldcusers
		on users.wx_sp_user_session_key = ldcusers.wx_sp_user_session_key
		and users.third_site_open_id = ldcusers.third_site_open_id
		and users.third_site_user_id = ldcusers.third_site_user_id
		where (users.mobile is  null
		or users.mobile = '')
		and (ldcusers.mobile is  null
		or ldcusers.mobile = '')
	</select>
    
    <select id="getMobileIsNullsessionisKeynull" resultType="long">
        SELECT
        ldcusers.id ldcId
        from users
        inner join ldc_users ldcusers
		on 
		 users.third_site_open_id = ldcusers.third_site_open_id
		and users.third_site_user_id = ldcusers.third_site_user_id
		where (users.mobile is  null
		or users.mobile = '')
		and (ldcusers.mobile is  null
		or ldcusers.mobile = '')
and users.wx_sp_user_session_key is NULL
and ldcusers.wx_sp_user_session_key is null
    </select>
    
    <select id="getMobileIsNullOpenIdNull" resultType="long">
SELECT
        ldcusers.id ldcId
        from users
        inner join ldc_users ldcusers
		on 
users.wx_sp_user_session_key = ldcusers.wx_sp_user_session_key
	 
		and users.third_site_user_id = ldcusers.third_site_user_id
		where (users.mobile is  null
		or users.mobile = '')
		and (ldcusers.mobile is  null
		or ldcusers.mobile = '')
and users.third_site_open_id is NULL
and ldcusers.third_site_open_id is null
    </select>
    
    <select id="getMobileisNullSiteIsNull" resultType="long">
        SELECT
        ldcusers.id ldcId
        from users
        inner join ldc_users ldcusers
		on
users.wx_sp_user_session_key = ldcusers.wx_sp_user_session_key
and users.third_site_open_id = ldcusers.third_site_open_id
		where (users.mobile is  null
		or users.mobile = '')
		and (ldcusers.mobile is  null
		or ldcusers.mobile = '')
and users.third_site_user_id is NULL
and ldcusers.third_site_user_id is null
    </select>

    <select id="getLdcNull" resultType="long">
        SELECT
        ldcusers.id id
      from ldc_users ldcusers
		where
 (ldcusers.mobile is  null
		or ldcusers.mobile = '')
and ldcusers.wx_sp_user_session_key is null
and ldcusers.third_site_user_id is null
and ldcusers.wx_sp_user_session_key is null
    </select>
    <select id="getUsersNull" resultType="com.example.aopzhujie.dto.MobileNullDto">
        SELECT
        ldcusers.id id,
        ldcusers.true_name trueName
      from users ldcusers
		where
 (ldcusers.mobile is  null
		or ldcusers.mobile = '')
and ldcusers.wx_sp_user_session_key is null
and ldcusers.third_site_user_id is null
and ldcusers.wx_sp_user_session_key is null
    </select>

	<!--替换ldc_course_work_submit表中的vip_student_id-->
	<update id="updateCourseWorkSubmit">
        update ldc_course_work_submit set vip_student_id = #{itongjiId}
        where vip_student_id = #{ldcId}
    </update>

	<!--替换ldc_course_work_submit_reply表中的vip_student_id-->
	<update id="updateCourseWorkSubmitReply">
        update ldc_course_work_submit_reply set creator = #{itongjiId}
        where creator = #{ldcId}
    </update>

	<update id="updateLdcForumPost">
        update ldc_forum_post set creator = #{itongjiId}
        where creator = #{ldcId}
    </update>

	<update id="updateLdcForumPostAttention">
        update ldc_forum_post_attention set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateLdcForumPostLike">
        update ldc_forum_post_like set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateLdcForumPostReply">
        update ldc_forum_post_reply set creator = #{itongjiId}
        where creator = #{ldcId}
    </update>

	<update id="updateLdcgraduationReg">
        update ldc_forum_graduation_reg set student_info_id = #{itongjiId}
        where student_info_id = #{ldcId}
    </update>

	<update id="updateLdcLearnedSection">
        update ldc_learned_section set vip_student_id = #{itongjiId}
        where vip_student_id = #{ldcId}
    </update>

	<update id="updateLdcMsg">
        update ldc_msg set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateLdcPointExechangeRecord">
        update ldc_point_exechange_record set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateLdcUserResource">
        update ldc_user_resource set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateLdcVipInfo">
        update ldc_vip_info set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateQuestion">
        update question set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateQuestionAnswer">
        update question_answer set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateQuestionAnswerLike">
        update question_answer_like set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateQuestionCollection">
        update question_collection set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateQuestionForwarding">
        update question_forwarding set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateQuestionLike">
        update question_like set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateSpecial">
        update special set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateSpecialAttention">
        update special_attention set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateUserFeedback">
        update user_feedback set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateUserPoint">
        update user_point set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>

	<update id="updateUserPointDetail">
        update user_point_detail set user_id = #{itongjiId}
        where user_id = #{ldcId}
    </update>



</mapper>